<div class="found" ng-controller="foundCtrl">
    <!--globe-->
    <div class="header">
        <header>发现</header>
        <nav>
            <input ng-class='"input"+"xxx"' type="text" placeholder="搜索" ng-click="" />
        </nav>
        <div class="title">
            <div class="item">{{foundItem}}</div>
        </div>
    </div>

    <!--share-->
    <div id="share">
        <div class="items" id="found_items">
            <div class="item ac charity"><img src="img/charitybanner@2x.png" alt=""></div>
            <div class="item activity"><img src="img/activitybanner@2x.png" alt=""></div>
            <div class="item volunteer"><img src="img/volunteerbanner@2x.png" alt=""></div>
            <div class="item heart"><img src="img/heartbanner@2x.png" alt=""></div>
            <div class="item share"><img src="img/sharebanner@2x.png" alt=""></div>
        </div>

        <div ui-view=""></div>
        <div ui-view="found"></div>

    </div>

    <!--footer-->
    <div class="found_footer">
        <div ng-repeat="item in foundItems" ng-class='"item "+item.className' style="background-image:url('img/{{item.name}}@2x.png')"><a ng-click="foundAddClass($index)">{{item.text}}</a></div>
        <!--ui-sref="{{item.ui_sref}}"-->
    </div>
</div>