<div class="detail">

    <!--singer-->
    <div class="singer">
        <div><i class="fa fa-angle-left"></i>歌单</div>
        <div>
            <div>
                <img src="" alt="">
                <span>257万</span>
            </div>
            <div>
                偶像剧标配...
                <div>
                    <img src="" alt="">
                    可尼宴
                </div>
            </div>

        </div>
    </div>

    <!--playall-->
    <div class="playall">
        <i class="icon">+</i>
        播放全部
    </div>

    <!--musiclist-->
    <div id="musiclist">

    </div>
</div>

<div class="template">
        <div class="item">
            <div class="No">1</div>
            <div class="singer">
                情非得已 <br><span>庾澄庆</span>
            </div>
        </div>

</div>