<div class="detail">
    <!--musiclist-->
    <div id="musiclist">

    </div>
</div>

<div class="template1" style="display: none;">
    <!--singer-->
    <div class="singer1">
        <div class="title"><i class="fa fa-angle-left"></i>歌单</div>
        <div class="clearfix">
            <div class="info">
                <img src="" alt="">
                <span></span><!--257万-->
            </div>
            <div class="name">
                <div>
                    <span></span><!--偶像剧标配...-->
                    <img src="" alt="">
                    <i></i><!--可尼宴-->
                </div>
            </div>

        </div>
    </div>

    <!--playall-->
    <div class="playall">
        <i class="icon">+</i>
        播放全部
    </div>

</div>

<div class="template2">
    <div class="item clearfix">
        <div class="No"></div>
        <div class="singer">
            <div class="music"></div><!--情非得已-->
            <span></span><!--庾澄庆-->
        </div>
    </div>
</div>