<div class="home">
    <!--banner-->
    <div class="banner">
        <img src="img/banner1.jpg" alt="">
        <!--<img src="img/banner2.jpg" alt="">
        <img src="img/banner3.jpg" alt="">
        <img src="img/banner4.jpg" alt="">-->
        <!--按钮-->
        <div class="circle" id="circle">
            <i class="fa fa-circle ac"></i>
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
        </div>
    </div>

    <!--recommend-->
    <div class="recommend">
        <div class="item">推荐歌单</div>
        <div class="item"></div>
        <div class="item"><a href="#">更多></a></div>
    </div>

    <!--songlist-->
    <div id="songlist" class="songlist"></div>

    <!--MV-->
    <div class="mv">
        <div class="item">推荐MV</div>
        <div class="item"></div>
        <div class="item"><a href="#">更多></a></div>
    </div>

    <div class="mvlist">
        <div class="item">
            <img src="img/11.jpg" alt="">
            <div><span>Skin to sking</span></div>
            <p>鹿晗</p>
        </div>
        <div class="item">
            <img src="img/11.jpg" alt="">
            <div><span>Skin to sking</span></div>
            <p>鹿晗</p>
        </div>
        <div class="item">
            <img src="img/12.jpg" alt="">
            <div><span>Skin to sking</span></div>
            <p>鹿晗</p>
        </div>
        <div class="item">
            <img src="img/12.jpg" alt="">
            <div><span>Skin to sking</span></div>
            <p>鹿晗</p>
        </div>

    </div>

</div>

<div class="template" style="display: none;">
    <div class="item">
        <a href="#">
            <img src="" alt="">
            <div><span></span></div>
            <p></p>
        </a>
    </div>
</div>