<div class="tab">
    <div class="header">
        <div class="item"><img src="img/logo.png" alt=""></div>
        <div class="item"></div>
        <div class="item"><img src="img/search.png" alt=""></div>
    </div>

    <div class="nav">
        <div class="item"><a href="#">时下流行</a></div>
        <div class="item"><a href="#">歌单</a></div>
        <div class="item"><a href="#">排行榜</a></div>
        <div class="item"><a href="#">热门歌手</a></div>
        <span id="ht"></span>
    </div>
</div>

<div class="tab_container">

</div>

