/***************container***************/
.container{width:100vw;height:100%;display: flex;flex-direction:column;}
/***share****/
.share{flex-grow: 1;display:flex;flex-direction: column;}
.share>div[ui-view]{flex-grow: 1;display:flex;flex-direction: column;}

/***footer***/
.footer {height: 60px;background: #f3f3f3; display:flex;flex-direction: row;width: 100%}
.footer .item{ width:25%;text-align: center;padding-top:5px; }
.footer .item a{ color:#868686;display: inline-block;line-height: 1.8;padding-top: 30%;width:30%;background: no-repeat 50% 0 ;background-size: 90% auto;}
.footer .item.ac a{color:#01CCE7; }


/***************health***************/
.health,.found,.recommend,.mine {width: 100vw;display: flex;flex-direction: column;flex-grow: 1;}

/*header*/
.health .header,.found .header,.recommend .header,.mine .header{height: 23vh;display: flex;flex-direction: column;}

.health header,.found header,.recommend header,.mine header {line-height: 6vh;padding:2vh 0 0 0; background: #01cce7;text-align: center;position: relative;z-index: 3;color: #fff;font-size:20px}

.health nav,.found nav,.recommend nav {line-height: 5vh;padding:2vh 0 0 0;background: #efefef;position: relative;z-index: 2;box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);display: flex;flex-direction: row;  align-items: center;}
.health nav .item {width: 21.6%;text-align: center;font-size: 15px;}
.health nav .item a{padding:0.7%;font-size: 15px;color: #868686;}
.health nav .item:nth-child(2) {padding: 0 4.5%;}
.health nav .item:nth-child(3) {padding: 0 4.5% 0 0;}
.health nav .item.ac a{color: #01cce7;}

.health .title{line-height: 6vh;padding:2vh 0 0 0;background: #f5f5f5;display: flex;flex-direction:row;}
.health .title .item:nth-child(1){ width:32.3%;text-align: center;font-size: 18px;}
.health .title .item:nth-child(2){flex-grow:1;}
.health .title .item:nth-child(3){width:20%;text-align: center; color:#b4b4b4;}

/*share*/
.health #share,.found #share,.recommend #share,.mine #share{flex-grow:1;width: 100%;display:flex;flex-direction: column;}
.health #share>div[ui-view="health"]{flex-grow: 1;display:flex;flex-direction: column;}

/*heartRate*/
.heartRate{height: 100%;display: flex;flex-direction:column;flex-grow: 1;}
.heartRate .date { height:6vh; display: flex; flex-direction:row;padding:5px 3vw 0;  align-items: center;}
.heartRate .date .day {color:#b1b1b1;}
.heartRate .date .blank { flex-grow:1;}
.heartRate .date .icon {text-align: right;color:#a6a6a6;}

.heartRate .chart {padding:0 3vw 0;}
.heartRate .chart canvas {width: 100%;display: block;}
.heartRate .clock {display:flex;flex-direction: row;width: 100%;}
.heartRate .clock .item{font:12px/1.7 '';color:#999;text-align: center;}
.heartRate .clock .item:nth-child(1){width:36%;margin-left:10%;}
.heartRate .clock .item:nth-child(2){width:18%;}
.heartRate .clock .item:nth-child(3){width:36%;}

.heartRate .record {flex-grow:1; display: flex; flex-direction:column;}
.heartRate .record>div {margin:auto 0;}
.heartRate .record .item {display: flex; flex-direction:row;padding: 0 3vw 0 6.7vw;line-height: 5vh;color:#b4b4b4;}
.heartRate .record .item:nth-child(1) {color:#54e514;}
.heartRate .record .item:nth-child(2) { border-bottom: 1px solid #f6f6f6;}
.heartRate .record .item:nth-child(3) {color:#e68921;}
.heartRate .record .item:nth-child(4) { border-bottom: 1px solid #f6f6f6;}
.heartRate .record .aside {width:50%;}
.heartRate .record .item .aside:nth-child(2) {text-align: right;}

/*bloodPressure*/
.bloodPressure .chart {padding:0 3vw;}
.bloodPressure .clock .item{font:12px/2 '';}
.bloodPressure .clock .item:nth-child(1){width:25%;margin-left:12.5%;}
.bloodPressure .clock .item:nth-child(2){width:25%;}
.bloodPressure .clock .item:nth-child(3){width:25%;margin-right:12.5%;}
.bloodPressure .record {padding: 5px 0 0 0;}
.bloodPressure .record .item {font:12px/2 '';color:#b4b4b4}
.bloodPressure .record .item .aside:nth-child(2){color:#212121;}
.bloodPressure .record .item .aside:nth-child(2) img{width:20%;margin-right: 13px;}
.bloodPressure .record .item:nth-child(1){color:#b4b4b4 }
.bloodPressure .record .item:nth-child(2) {padding:0 auto 1.5vh }
.bloodPressure .record .item:nth-child(3) {display:flex;flex-direction: row;}
.bloodPressure .record .item:nth-child(3) .aside {width:26%;text-align: center;display:flex;flex-direction: column;}
.bloodPressure .record .item:nth-child(3) .aside div:nth-child(1){line-height: 4;color:#b4b4b4;}
.bloodPressure .record .item:nth-child(3) .aside div:nth-child(2){font: 26px/1 "";color:#000;}
.bloodPressure .record .item:nth-child(3) .aside div:nth-child(3){line-height: 4;color:#b4b4b4;}
.bloodPressure .record .item:nth-child(3) .aside:nth-child(3) {flex-grow:1;color:#54e50c;line-height: 3;padding:10% 0 0 0;}
.bloodPressure .record .item:nth-child(3) .aside:nth-child(3) img{width:17%;margin: 0 auto;}

/***************found***************/
.found .header{height: 21vh;background: #f5f5f5;}
.found .header nav,.recommend .header nav{padding:1vh 3vw;}
.found .header nav input,.recommend .header nav input{width: 100%;font:15px/2 "";border: 1px solid #F5F5F5;border-radius: 8px;text-align: center;color:#999999;background:#fff url("../img/searchicon.png") no-repeat 42% 11px;}
.found .title{line-height: 6vh;text-align: center;font-size: 14px;color:#999;}
/*.found .header nav input.input.ac{background-image: none;}*/

.found #share,.recommend #share{background: #f5f5f5;display: flex;flex-direction: column;overflow: hidden;flex-grow: 1;}
/*.found #share>div[ui-view="found"]{flex-grow: 1;display: flex;flex-direction: column;}*/
.found #share .items{height: 50vh;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;padding-left: 14vw;transition: all 0.5s;position:relative;left:0;}
.found #share .item{min-width:56vw;height: 45vh;margin:0 8vw;box-shadow: 0 0 10px rgba(0,0,0,0.2);border-radius: 6px;background: #fff;transition: all 0.3s;overflow: hidden;}
.found #share .item.ac{transform: scale(1.3);}
.found #share .item img{width:100%;}
.found #share .item p{padding:0 20px;font:12px/1.3 "Microsoft YaHei";color:#333;}
.found #share .item p:nth-child(2){padding-top:10px;}
.found #share .item p:nth-child(3){text-align:right;}
.found #share .item p:nth-child(4) {text-align:center;margin:10px 0 0 0;}
.found #share .item p:nth-child(4) a{ color:#333;display:inline-block;line-height: 2.2;padding: 0 15px;border: 1px solid #bbb;border-radius: 5px;}
.found #share .item p:nth-child(4) a:hover{background: #f5f5f5;}

.found_footer{height:7vh;display: flex;padding:0 3vw;flex-direction: row;justify-content: space-between;background:#f5f5f5;align-items: flex-end}
.found_footer .item{width: 13.3%;text-align: center;background: #fff;box-shadow: 3px 1px 5px rgba(0,0,0,0.2);height: 4vh;border-radius: 5px 5px 0 0;transition: height 0.3s,color 0.3s;}
.found_footer .item.ac{height: 7vh;background: #5edeef no-repeat 50% 50%;background-size: 60% auto;}
.found_footer .item.ac a{color:transparent;}
.found_footer .item a{font:12px/2.1 "";color:#999;}

/***************recommend***************/
.recommend #share{padding:0 3vw;overflow-y: scroll;width:94vw;}
.recommend #share .items{width: 94vw;}
.recommend #share .items .pic{width: 100%;position: relative;font-size: 0;}
.recommend #share .items .pic img{width: 100%;}
.recommend #share .items .pic .disc{position: absolute;left:0;bottom:0;color:#fff;font:20px/3 "";padding:0 0 0 26px;}

.recommend #share .items .comment .item{display: flex;flex-direction: row;justify-content: space-between;}
.recommend #share .items .comment .item ._item{ }




/***************mine***************/
.mine{font:10px/2 "";color:#666;}
.mine .header{height: 8vh;}
.mine .detail{flex-grow: 1;background: #f5f5f5;}
.mine .detail .person{background: #fff;display: flex;flex-direction: row;height: 15vh;align-items: center;border-bottom: 1px solid #f6f6f6;}
.mine .detail .person .item:nth-child(1){width:23vw;text-align: center;}
.mine .detail .person .item:nth-child(1) img{width:50%;}
.mine .detail .person .item:nth-child(2){flex-grow: 1;}
.mine .detail .person .item:nth-child(2)>div:nth-child(1){font:14px/2.2 "";color:#333;}
.mine .detail .person .item:nth-child(2)>div:nth-child(2),.mine .detail .person .item:nth-child(2)>div:nth-child(3){font:10px/2 "";color:#666;}
.mine .detail .person .item:nth-child(2)>div:nth-child(1) span{font:12px/2.5 "";padding:0 0 0 15px;}
.mine .detail .person .item:nth-child(3){width: 15.2vw; color:#666;text-align: center;font:10px/1 "" }
.mine .detail .person .item:nth-child(3) span{padding:0 0 0 5px;font:10px/1 "consolas"}

.mine .detail .community{background: #fff;height:13.5vh;display: flex;flex-direction: row;}
.mine .detail .community .item{text-align: center;padding-top: 12px;}
.mine .detail .community .item:nth-child(1){width: 31%;border-right:1px solid #f6f6f6}
.mine .detail .community .item:nth-child(2){width: 31%;border-right:1px solid #f6f6f6}
.mine .detail .community .item:nth-child(1) img{width: 34.5%;}
.mine .detail .community .item:nth-child(2) img{width: 34.5%;}
.mine .detail .community .item:nth-child(3) img{width: 70%;}
.mine .detail .community .item:nth-child(3){flex-grow: 1;padding-top: 20px;}

.mine .detail .service{background: #fff;margin:10px 0 0 0;display: flex;flex-direction: row;flex-wrap: wrap;text-align: center;}
.mine .detail .service img{height: 36%;}
.mine .detail .service .item{width: 33vw;height: 16.5vh;border-bottom: 1px solid #f6f6f6;padding-top: 30px;}
.mine .detail .service .item:nth-child(2){border-left:1px solid #f6f6f6;border-right:1px solid #f6f6f6}
.mine .detail .service .item:nth-child(4){width:49vw;border-right: 1px solid #f6f6f6}
.mine .detail .service .item:nth-child(5){flex-grow: 1;}




