<div class="home">
    <!--banner-->
    <div class="banner">
        <img src="img/banner1.jpg" alt="">
        <!--<img src="img/banner2.jpg" alt="">
        <img src="img/banner3.jpg" alt="">
        <img src="img/banner4.jpg" alt="">-->
        <!--按钮-->
        <div class="circle" id="circle">
            <i class="fa fa-circle ac"></i>
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
        </div>
    </div>

    <!--recommend-->
    <div class="recommend">
        <div class="item">推荐歌单</div>
        <div class="item"></div>
        <div class="item"><a href="#">更多></a></div>
    </div>

    <!--songlist-->
    <div id="songlist" class="songlist"></div>
</div>

<div class="template" style="display: none;">
    <div class="item">
        <img src="" alt="">
        <div><span></span></div>
        <p></p>
    </div>
</div>